div.input-form {
	width:60%; 
	margin-left:auto; 
	margin-right:auto;
	border: 1px solid #f0f0f0;
	/* padding: 8px; */
	/* background-color: #fcfcfc; */
}


div.input-form div.rowA, div.input-form div.rowB {
	background-color: #fdfdfd;
	/* margin-bottom: 15px; */
	padding:8px;
}

/*
div.input-form div.rowB {
	background-color: 0;
	margin-bottom: 15px;
	padding:8px;
}
*/

div.input-form p {
	margin-left: 0px;
}

div.input-form textarea {
	border: 1px solid #999;
	width: 99%;
	background-color: white;
	padding: 2px;
	margin-bottom: 15px;
	margin-right: 2px;
}

div.input-form textarea:focus {
	border:1px solid blue;
	background-color: white;
	padding: 2px;
}

div.input-form input {
	border: 1px solid #999;
	background-color: white;
	padding: 2px;
	max-width: 60%;
}

div.input-form input:focus {
	border: 1px solid blue;
	padding: 2px
}

div.input-form div.buttons {
	text-align: right;
	padding:8px;
}
div.input-form div.buttons input {
	background-color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 100px;
	margin-left: 5px;
}