/* main body attributes */
body {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: small;
}

/* heading attributes */
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* paragraph attributes */
p {
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
}

/*  Table of content attributes*/
p.toc{
	font-family: Verdana, Arial, sans-serif;
	background-color: #eeeeee;
	padding: .6em;
	margin-bottom: .6em;
	margin-top: 0em;
	margin-left: 1em;
	margin-right: 3em;
	border: 1px #98AAB1 solid;
} 

/* list attributes */
ul {
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

li {
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

li.folders {
	list-style: disc url(../../images/folder.gif) outside;
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

li.folders .disabled {
	color: #AAAAAA;
}

/* link attributes */
a:link {
	font-family: Verdana, Arial, sans-serif;
	color: #384F89;
	text-decoration: underline;
}
a:visited {
	font-family: Verdana, Arial, sans-serif;
	color: #51286C;
	text-decoration: underline;
}
a:hover {
	font-family: Verdana, Arial, sans-serif;
	color: black;
	text-decoration: underline;
}

.formfieldR {
	font-family: Verdana, Arial, sans-serif;
	color: black;
	border-top:  #003399  solid 1px;
	border-bottom: #003399 solid 1px;
	border-right: #003399 solid 1px;
	border-left: #003399 solid 1px;
	text-align: right;
	padding: 2px;
}
form {
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* align text to the left */
.left {
	text-align: left;
}

/* table rows */
td.row1, table.row1 { 
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	background-color: #EFEFEF;
	vertical-align: top;	
	padding: 3px;
}

td.row2 { 
	background-color: #98AAB1; 
	font-weight: normal;
	height: 1px;
}

td.cat, th.cat {
	font-family: Verdana, Arial, sans-serif;
	background-image: url('images/cellpic1.gif');
	background-repeat: repeat-x;
	background-color:#D1D7DC; 
	height: 25px;
	text-align: center;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}

a.dropdown-title {
	color: white;
	font-weight: normal;
	text-decoration: none;
}


/* table border */
.tableborder {
	border: 1px #606060 solid;
}



/* main submit button */
.button {
	font-family: Verdana, Arial, sans-serif;
	background-color: #EBEDF6;
	font-weight: bold;
	border-top:  #354A81  solid 1px;
	border-bottom: #354A81 solid 1px;
	border-right: #354A81 solid 1px;
	border-left: #354A81 solid 1px;	
}

/* small submit button at top */
.button2 {
	font-family: Verdana, Arial, sans-serif;
	background-color: #F8F8F8;
	border-top:  #354A81  solid 1px;
	border-bottom: #354A81  solid 1px;
	border-right: #354A81  solid 1px;
	border-left: #354A81  solid 1px;
}
.button.button_yes {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #CCFFCC;
}
.button.button_no {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FFCCCC;
}
/* various line breaks */
td.row2 { 
	background-color: #98AAB1; 
	font-weight: normal;
	height: 1px;
}
td.row3 {
	background-color: #006699;
	font-weight: normal;
	height: 1px;
}
td.row4 {
	background-color: #f3f3f2;
	font-weight: normal;
	height: 1px;
}

/* the main table */
#maintable {
	background-color: #FFFFFF;
	border: 1px #98AAB1 solid;
}


/* date attributes */
small.date {
	font-family: Verdana, Arial, sans-serif;
	color: #006699;	
	margin-bottom: 0px; 
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
}

/* page breakline */
hr {
	color: #98AAB1;
	background-color: white;
	height: 1px;
}

/* message box styles */

/* error box */
table.errbox{
	font-family: Verdana, Arial, sans-serif;
	background-color: #FF0000;
}
tr.errbox {
	font-family: Verdana, Arial, sans-serif;
	background-color: #FEF1F1;
	vertical-align:top;
}

/* confirm box */
table.cnfrmbox{
	font-family: Verdana, Arial, sans-serif;
	background-color: #FF0000;
}
tr.cnfrmbox {
	font-family: Verdana, Arial, sans-serif;
	background-color: #FEF1F1;
	vertical-align:top;
}

/* help box */
table.hlpbox{
	font-family: Verdana, Arial, sans-serif;
	background-color: #006699;
}
tr.hlpbox{
	font-family: Verdana, Arial, sans-serif;
	background-color: #E5F0FD;
	vertical-align:top;
}

/* Editor box small */
.editorsmallbox {
	font-family: Verdana, Arial, sans-serif;
	background-color: #EEEEEE;
	padding: 2px;
	padding-right: 3px;
	border: 1px #99CCCC solid;
}

/* Editor box large */
.editorlargebox {
	font-family: Verdana, Arial, sans-serif;
	background-color: #EEEEEE;
	margin-left:1em;
	padding-left: .2em;
	padding-right: .5em;
	padding-top: .5em;
	padding-bottom: .4em;
	border: 1px #99CCCC solid;
}

/* warning box */
table.wrnbox{
	font-family: Verdana, Arial, sans-serif;
	background-color: #FF8400;
}
tr.wrnbox{
	font-family: Verdana, Arial, sans-serif;
	background-color: #FFF6ED;
	vertical-align:top;
}

/* feedback box */
table.fbkbox{
	font-family: Verdana, Arial, sans-serif;
	background-color: #30B626;
}
tr.fbkbox{
	font-family: Verdana, Arial, sans-serif;
	background-color:#EBFDE9;
	vertical-align:top;
}
select.dropdown {
	font-family: Verdana, Arial, sans-serif;
    background-color: #F1F3F1;
}                                                             
.copy {
	font-family: Verdana, Arial, sans-serif;
}   

/* AChat Styles  */
table.box2 {
	background-color: #FFFFFF;
	border-right: #006699 solid 1px;
	border-left: #006699 solid 1px;
}

table.box {
	background-color: #EFEFEF;
	border-right: #006699 solid 1px;
	border-left: #006699 solid 1px;
	border-top: #006699 solid 1px;
	border-bottom: #006699 solid 1px;
}

td.box2 {
	background-color: white; /* #DDF0FF; */
	padding-left: 1px;
	padding-right: 1px;
	font-weight: bold;
	border-left: #006699 solid 1px;
}

td.box1 {
	color: #FF0000;
	background-color: white;
	padding-left: 2px;
	padding-right: 2px;
}

body.chatbody{
	background-color: #FFFFEE;
	background-image: url('images/lines.v.2.gif');
}

.good  {
  font-family : Arial, Helvetica, Arial Cyr, Arial Ua, sans-serif;
  color : white;
  background: green;
  font-weight : bold;
  padding: 4px;
 }

.current_tran  {
  font-family : Arial, Helvetica, Arial Cyr, Arial Ua, sans-serif;
  color : black;
  background: #FFFF00;
  font-weight : bold;
  padding: 4px;
 }

.highlight, a.highlight {
	background-color: yellow;
}

a .highlight{
	background-color: yellow;
	text-decoration: underline;
}

/*public area*/
.cyan{
	background-color:#464F88;
	color: white; 
	font-family: Verdana, Helvetica, sans-serif;
	font-weight:bold;
}
.cyan2{
 background-color:#464F88;
 padding: 2px;
 color: white; 
 font-family: Verdana, Helvetica, sans-serif;
 font-weight:bold;
 text-align:center;
}

th.cyan{
 background-color:#006699;
 padding: 3px;
 color: white; 
 font-family: Verdana, Helvetica, sans-serif;
 text-align:center;
 font-weight: normal;
}
.cyan a:link{
 color: white;
 text-decoration: underline;
}
.cyan a:visited{
 color: white;
 text-decoration: underline;
}
.cyan a:hover{
 color: white;
 text-decoration: underline;
}

.center {
	text-align: center;
}

/* new classes for the nav menu */
table.navmenu {
	background-color: #464F88;
}
td.navmenu {
	padding: 5px;
	color: white; 
	font-weight:bold;
	white-space:nowrap;
	border-left: 1px white solid;
	text-decoration: none;
}

td.navmenu a:link, td.navmenu a:visited{
	color: white;
	text-decoration: none;
}
td.navmenu a:hover, td.navmenu a:visited.selected{
	color: white;
	text-decoration: none;
}
td.navmenu.selected, td.navmenu.selected a:visited {
	background-color: orange;
	text-decoration: none;
}
td.navmenu.selected, td.navmenu.selected a:hover {
	background-color: orange;
	text-decoration: none;
}

/* styles from stylesheet.css */
.bodyline {
	background-color: #FFFFFF;
	border: 1px #98AAB1 solid;
}

#jumpmenu, optgroup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F1F3F1;
	font-size: smaller;
}

#jump-button {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	background-color: #3C92A9;
	border-top:  #98AAB1  solid 1px;
	border-bottom: #98AAB1 solid 1px;
	border-right: #98AAB1 solid 1px;
	border-left: #98AAB1 solid 1px;	
	color: white;
	font-size: smaller;
}

#user-bar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #E7E3B1;
	text-align: center;
	padding: 3px;
}

td.usernavmenu {
	padding-left: 1px;
	padding-right: 1px;
}

#logout-user-nav {
	background: transparent url(images/logout.gif) 0 1px no-repeat;
	padding-left: 18px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #cccccc;
}
#preferences-user-nav {
	background: transparent url(images/prefs.gif) 0 1px no-repeat;
	padding-left: 18px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #cccccc;
}
#inbox-user-nav {
	background: transparent url(images/inbox.gif) 0 1px no-repeat;
	padding-left: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #cccccc;
}


td.navmenu.borderless {
	border-left: 0px;
	padding-right: 10px;
}
/* menu titles */
td.cat, th.cat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url('images/cellpic1.gif');
	background-repeat: repeat-x;
	background-color:#D1D7DC; 
	height: 25px;
	text-align: center;
	font-weight: bold;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	color:black;
}
td.cat2c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url('images/cellpic1.gif');
	background-repeat: repeat;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	height: 25px;

	border-left: 1px #98AAB1 solid;
}

table.cat2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#9C9DA6;
	text-align: center;
	font-weight: bold;	
	border: 1px #98AAB1 solid;
}
table.cat3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: ;
}

#course-nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #EFEFEF;
	text-align: center;
	padding: 0px;
	text-decoration: none;
	border-top: 1px #98AAB1 solid;
	border-bottom: 1px #98AAB1 solid;
} 

.course-nav-item {
	color: #464F88;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	height:30px;
}

.course-nav-item a:link, .course-nav-item a:visited {
	color: #464F88;
	text-decoration: none;
}
.course-nav-item a:hover {
	color: #3C92A9;
	text-decoration: underline;
}

/* instructor menu #464F88*/
table.instmenu {
	background-color: #464F88;
}
td.instmenu {
	padding: 7px;
	color: white; 
	font-weight:bold;
	border-left: 1px white solid;
}

td.instmenu a:link, td.instmenu a:visited{
	color: white;
	text-decoration: none;
}
td.instmenu a:hover, td.instmenu a:visited.selected{
	color: white;
	text-decoration: underline;
}
td.instmenu.selected, td.instmenu.selected a:visited {
	background-color: orange;
	text-decoration: none;
}
td.instmenu.selected, td.instmenu.selected a:hover {
	background-color: orange;
	text-decoration: underline;
}

td.instmenu.borderless {
	border-left: 0px;
	padding-right: 10px;
}

/* edit content tabs */
.buttontab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	font-weight: bold;
	border: 0px;
	padding-left: 0px;
	color: #8799A0;
}

.etab {
	color: black;
	background-color: #ffffff;
	border-top: 1px #98AAB1 solid;
	border-left: 1px #98AAB1 solid;
	border-right: 1px #98AAB1 solid;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.etab a:link, .etab a:visited {
	color: black;
	text-decoration: none;
}
.etab a:hover {
	color: black;
	text-decoration: underline;
}
.etabself {
	background-color: #EFEFEF;
	border-top: 1px #98AAB1 solid;
	border-left: 1px  #98AAB1 solid;
	border-right: 1px #98AAB1 solid;
	text-align: center;
	font-weight: bold;
	padding: 2px;
}
.unsaved {
	color: red;
	background-color: #FFFDE0;
	margin: 10px;
	font-weight: bold;
}
.saved {
	background-color: #FFFDE0;
	margin: 10px;
}



/* the side menu */
/* the side menu heading */
td.dropdown-heading {
	background-color: #FFF5A4;
	color: #006699;
	border-left: 1px solid #006699;
	border-right: 1px solid #006699;
	border-top: 1px solid #006699;
	font-weight: bold;
	padding: 2px;
}

td.dropdown-heading a, td.dropdown-heading a:hover, td.dropdown-heading a:visited {
	text-decoration: none;
}

td.dropdown-heading.closed {
	border-bottom: 1px solid #006699;
}

/* the side menu content */
td.dropdown {
	padding: 2px;
	background-color: #FFFCE5;
	color: #006699;
	border-left: 1px solid #006699;
	border-right: 1px solid #006699;
	border-bottom: 1px solid #006699;
	font-weight: normal;
}
td.dropdown a, td.dropdown a:visited  {
	color: #006699;
	text-decoration: none;
}
td.dropdown a:hover {
	color: #006699;
	text-decoration: underline;
}
td.dropdown.cell {
	border-bottom: 0px;
}
td.dropdown strong {
	color: #51286C;
}

td.login-box {
	background-color: #FFFCE5; 
	color: #006699;
	border-left:1px #CCCCCC solid;
	padding: 3px;
}

td.pen {
	background-color: #C9E0FD;
	color: #006699;
	border-left: 1px solid #006699;
	border-right: 1px solid #006699;
	border-top: 1px solid #006699;
	border-bottom: 1px solid #006699;
	font-weight: bold;
	padding: 2px;
}
td.pen a:link, td.pen a:visited {
	color: #006699;
	text-decoration:none;
}

td.public-row { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: white;
	vertical-align: top;	
	padding: 3px;
	direction: ltr;
}
td.public-row2 {
	background-color: #FDE6D1;
	font-weight: normal;
	height: 1px;
	color: white;
}
p.public-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 150%
}

/* added for 1.4.2: */
.results {
	padding-left: 20px;
}

h5.search-results {
	background-color: #FFF5A4;
	color: #006699;
	padding: 1px;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 5px;
}

small.search-info {
	color: #006699;
}

p.search-description {
	background-color: #FFFCE5;
	color: #006699;
}

.test-box {
	background-color: #FFF5A4;
	color: #006699;
	border-left: 1px solid #006699;
	border-right: 1px solid #006699;
	border-top: 1px solid #006699;
	font-weight: bold;
	padding: 2px;
}

########## NEW STUFF ###

table.tabbed-table {
	width: 100%;
	margin-left: -5px;
}
table.tabbed-table th#left-empty-tab {
	background-color: transparent;
	width: 15px;
	border-bottom: 1px solid black;
}
table.tabbed-table th#right-empty-tab {
	text-align: right;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 420;
}
table.tabbed-table th.tab-spacer {
	background-color: transparent;
	width: 5px;
	border-bottom: 1px solid black;
}
table.tabbed-table th.tab {
	padding-top: 2px;
	padding-bottom: 2px;
	width: 130px;
	background-color: #D4E5FD;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
}
table.tabbed-table th.tab:hover {
	background-color: #EAF2FE;
}

table.tabbed-table th.tab a:focus {
	color: white;
}
table.tabbed-table th.selected {
	padding-top: 2px;
	padding-bottom: 2px;
	width: 130px;
	background-color: white;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

a#my-start-page {
	margin-left: 5px;
	background-color: #EFEFEF;
	padding: 4px;
	padding-left: 15px;
	border: 1px solid #cccccc;
	clear: all;
	background-image: url(http://www.gris.uni-tuebingen.de/images/start.gif);
	background-repeat: no-repeat;
	background-position: 2px 8px;
}

div#breadcrumbs {
	margin-bottom: 5px;
	margin-top: 10px;
	border-top: 1px dashed #cccccc;
	border-bottom: 1px dashed #cccccc;
	padding: 5px;
	font-weight: bold;
	color: #888888;
	font-size: smaller;
	background-color: #FAF9F9;
}
h2#page-title {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;
	border-bottom: 1px solid blue;
}

h1 {
	margin-bottom: 5px;
}

div#sub-navigation {
	margin-left: 5px;
}

div#help {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	background-color: #efefef;
	margin-left: 5px;
	margin-right: 5px;
	font-size: small;
}

h3#help-title {
	margin-left: 5px;
	margin-right: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 1px;
	background-color: #efefef;
}
.line {
	border-bottom: 1px solid black;
}
div#help p {
	padding: 0px;
	margin: 0px;
}

div#toctoggle {
	float: left;
	font-size: smaller;
	padding-left: 10px;
}

h1#section-title {
	float: left;
	margin-left: 5px;
}

div#top-links {
	padding-right: 5px;
	line-height: 170%;
}

a#editor-link {
	background-color: #EFEFEF;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 15px;
	padding-right: 8px;
	border: 1px solid #cccccc;
	font-weight: normal;
	text-decoration: none;
}

a#editor-link:hover {
	background-color: #fafafa;
	border: 1px solid #aaaaaa;
}

a#editor-link.off {
	background-image: url(images/pen.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
}
a#editor-link.on {
	background-image: url(images/pen2.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
}
